/*BIG TABLET TO 1200PX (WIDTH SMALLER THAN THE 1140 PX ROWS) */
@media only screen and (max-width:1200px) {
    .overlap-ul-li {
        margin-top: -40px;
    }

    .overlap-ul-li li {
        width: 228px;
        height: 107px;
    }

    /*.overlap-ul-li ul {
    display: block;
    width: 100%;
}*/

    .overlap-ul-li li h4 {
        margin-top: 18px;
    }
}


/*SMALL PHONES TO SMALL TABLETS (IPAD-PHONES)-481 TO 767PX PIXELS*/
@media only screen and (max-width:767px) {
    .header_grid {
        display: inline-block;
    }

    .main_header {
        height: auto;
        background-color: #E1EEFF;
    }

    .header_textbox {
        min-width: 460px;
        margin-top: 30px;
    }

    h1 {
        font-size: 20px;
        line-height: 28px;
    }

    .imgbox {
        margin-top: 10px;
        margin-left: 91px;
    }

    .features_para p {
        margin: 10px 5px;
    }

    .trial_image {
        margin-left: 70px;
    }

    .overlap-content {
        max-width: 100px;
        width: 100%;
        margin-left: 0px;
    }

    .overlap-ul-li li {
        margin: auto;
        width: 100%;
        text-align: justify
    }

    .overlap-ul-li ul {
        width: 84%;
        display: block;
        /* margin-left: -70px;*/
    }

    .overlap-ul-li {
        margin-top: 00px;
    }
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width:480px) {
    .business_transform_img1 {
        width: auto;
    }

    .work_image {

        margin: auto
    }

    .work_list ul {
        width: auto;
    }

    .work_list {
        margin-left: 0px;
    }

    .awards_grid1 {
        width: auto;

    }

    .award_para {
        margin-top: 10px;
    }

    .overlap-ul-li ul {
        width: 70%;

    }

    /*.overlap-ul-li li {
        width: 50%;
    }*/
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*SMALL PHONES 320 PIXELS*/
@media only screen and (max-width:320px) {
    .card-text {
        font-size: 12px
    }

    .button_icon a {
        margin-left: 20px
    }

    .overlap-ul-li li {
        margin: auto;
        text-align: justify
    }

    .overlap-ul-li ul {
        width: 50%;

    }
}
