/*BIG TABLET TO 1200PX (WIDTH SMALLER THAN THE 1140 PX ROWS) */
@media only screen and (max-width:1200px) {
    .overlap-ul-li {
        margin-top: -40px;
    }

    .overlap-ul-li li {
        width: 228px;
        height: 107px;
    }

    /*.overlap-ul-li ul {
    display: block;
    width: 100%;
}*/

    .overlap-ul-li li h4 {
        margin-top: 18px;
    }
}


/*SMALL PHONES TO SMALL TABLETS (IPAD-PHONES)-481 TO 767PX PIXELS*/
@media only screen and (max-width:767px) {
    .header_grid {
        display: inline-block;
    }

    .main_header {
        height: auto;
        background-color: #E1EEFF;
    }

    .header_textbox {
        min-width: 460px;
        margin-top: 30px;
    }

    h1 {
        font-size: 20px;
        line-height: 28px;
    }

    .imgbox {
        margin-top: 10px;
        margin-left: 91px;
    }

    .features_para p {
        margin: 10px 5px;
    }

    .trial_image {
        margin-left: 70px;
    }

    .overlap-content {
        max-width: 100px;
        width: 100%;
        margin-left: 0px;
    }

    .overlap-ul-li li {
        margin: auto;
        width: 100%;
        text-align: justify
    }

    .overlap-ul-li ul {
        width: 84%;
        display: block;
        /* margin-left: -70px;*/
    }

    .overlap-ul-li {
        margin-top: 00px;
    }
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width:480px) {
    .business_transform_img1 {
        width: auto;
    }

    .work_image {

        margin: auto
    }

    .work_list ul {
        width: auto;
    }

    .work_list {
        margin-left: 0px;
    }

    .awards_grid1 {
        width: auto;

    }

    .award_para {
        margin-top: 10px;
    }

    .overlap-ul-li ul {
        width: 70%;

    }

    .trial_image {
        width: 100%;
        margin: auto;
    }

}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*SMALL PHONES 320 PIXELS*/
@media only screen and (max-width:320px) {
    .card-text {
        font-size: 12px
    }

    .button_icon a {
        margin-left: 20px
    }

    .overlap-ul-li li {
        margin: auto;
        text-align: justify
    }

    .overlap-ul-li ul {
        width: 50%;
        background: #e0efff;


    }

    .imgbox {

        margin: 20px auto
    }

    .trial_image {
        width: 100%;
        margin: auto;
    }

    .steps1,
    .steps2,
    .steps3,
    .steps4,
    .steps5 {

        margin-bottom: 100px;
    }

    .workpredict_head h3 {
        font-size: 20px;
    }

    .workpredict_head p {
        font-size: 15px;
    }

    .business_heading h3 {
        font-size: 20px;
        line-height: 25px;
    }

    .business_transform_para {
        font-size: 15px;
    }

    .work_image {
        margin: auto
    }


    .image_banner h3 {
        font-size: 20px;
        line-height: 25px
    }

    .image_banner p {
        font-size: 12px;
        line-height: 20px
    }

    .author {
        margin-top: 5px;
        font-size: 10px;
        line-height: 20px;
    }

    .blockquot {
        font-size: 10px;
    }

    .reviews {
        margin-bottom: 22px;
        height: 150px;
    }

    .success_heading_para {
        font-size: 12px;
    }

    .success_heading h3 {
        font-size: 20px;
    }

    .success_para {
        font-size: 12px;
    }

    .work-image {
        display: none;
    }

    .work_para {
        text-align: start;
        font-size: 10px;
    }

    .work_list ul li {
        font-size: 12px;
        margin-bottom: 30px
    }

    .work_list ul {
        height: auto
    }

    .awards_section {}

    .award_para {
        font-size: 10px
    }

    .transform_help h3 {
        font-size: 20px;
        line-height: 25px
    }

    .transform_help h6 {
        font-size: 15px;
        text-align: center;
    }

    .cardTrial_head {
        margin-top: 10px
    }

    .cardTrial_head h3 {
        font-size: 20px;
    }

    .Main_footer {
        display: block;
        margin: auto;
        text-align: center;
        margin-top: 20px
    }

    .Main_footer ul {
        margin-top: 0px
    }

    .footer_buttons {
        margin-top: 0px;
        margin-bottom: 20px
    }

    .footer_links h6 {
        margin-left: 0px;
        font-size: 12px
    }

    .social_links {
        margin-right: 0px
    }

    .fa {
        margin: 5px -5px
    }
}
